.messageInput {
  position: absolute;
  bottom: 0px;
  width: 97%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 20px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.messageInput input {
  width: 85%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}
